<div class="board_format">
	<h1>WiCS Board Members:</h1>

	<div class="board_member">
		<h2>Program Manager</h2>
		<a href="mailto:kongsally94@gmail.com"><h3>Sally Kong</h3></a>
		<div class="board_picture"><img src="https://farm8.staticflickr.com/7461/15292343783_69d9d1533e_m.jpg" width="240" height="240" alt="_MG_9579"></div>
		<h4>Digital Media Design | Class of 2016</h4>
		<div class="board_text">
			<p>Sally does augmented reality research in UPenn's SIG Center for Computer Graphics.  She's working to expand Voyant, her PennApps team's project, into a startup as one of the five chosen teams for the PennApps Accelerator Program.  Additionally, she's written over 300 impromptu haikus with different people over the past year.  When she wake up each morning, she like to work through hiphop dance tutorials on YouTube.  She speaks four languages (Korean, English, Tagalog and Chinese).</p>
		</div>
	</div>

	<div class="board_member">
		<h2>Internal Relations Manager</h2>
		<a href="mailto:ramosj@seas.upenn.edu"><h3>Jessica Ramos</h3></a>
		<div class="board_picture"><img src="https://farm9.staticflickr.com/8609/15912029645_0a7901844a_m.jpg" width="240" height="240" alt="_MG_9582"></div>
		<h4>Mechanical Engineering | Class of 2017</h4>
		<div class="board_text">
			<p>Jessica has taken CIS 110 and really gained an appreciation for the amount of work that it required.  The artistic applications of CIS interested her the most.  She used to be a Bioengineering major before she switched to Mechanical Engineering.  She want to focus on the more mechanical aspects of Bioengineering, such as robotic therapy.  Jessica will be going to Hong Kong this summer to make orthotics for kids who need them, which she is really excited about.  What she really wanna do is be like Morgan Freeman in the movie Dolphin Tale and make prosthesis for animals.  Also, she can lick my elbow.</p>
		</div>
	</div>

	<div class="board_member">
		<h2>External Relations Manager</h2>
		<a href="mailto:sierray@seas.upenn.edu"><h3>Sierra Yit</h3></a>
		<h4>Computer Science | Class of 2017</h4>
		<div class="board_text">
			<p>Sierra's first experience with programming was working with lego mindstorms during a summer camp!  She is also currently a TA for CIS120 which is an awesome class that teaches functional programming and program design.  She has lived in three different countries since she was born, and her favourite animals are llamas. </p>
		</div>
	</div>

	<div class="board_member">
		<h2>Webmasters</h2>
		<h3>Karen Her</h3>
		<div class="board_picture"><img src="https://farm8.staticflickr.com/7579/15292435743_c524ac3e2f_m.jpg" width="240" height="240" alt="_MG_9590"></div>
		<h4>Computer Science | Class of 2018</h4>
		<div class="board_text">
			<p></p>
		</div>

		<a href="mailto:kellytan@seas.upenn.edu"><h3>Kelly Tan</h3></a>
		<div class="board_picture"><img src="https://farm9.staticflickr.com/8585/15724638358_62cf57c1c1_m.jpg" width="240" height="240" alt="1240085_612068455510014_398701666_n"></div>
		<h4>Computer Science | Class of 2017</h4>
		<div class="board_text">
			<p>Kelly started out in AP Computer Science during high school and immediately fell in love with the subject.  She spent last summer as an Engineering Practicum intern at Google and will be spending next summer as a Software Engineering intern there as well.  In addition, she's a member of the varsity gymnastics team at Penn.  In her spare time she enjoys fooling around on the internet and doing various crafts.  She finds her music-of-choice for efficient programming is either JPop or Bastille.</p>
		</div>
	</div>

	<div class="board_member">
		<h2>Treasurer</h2>
		<a href="mailto:hanqiao@seas.upenn.edu"><h3>Rachel Han</h3></a>
		<div class="board_picture"><img src="https://farm8.staticflickr.com/7514/15724726538_bf38fa7dc1_m.jpg" width="240" height="240" alt="_MG_9585"></div>
		<h4>Computer Science | Class of 2018</h4>
		<div class="board_text">
			<p>Rachel is a member of the Robot Cup Team at Penn.  She also worked for a 3D printer company and is interested in 3D printing related technology.  She is in Penn Band, playing the flute, and LOVES dogs. Rachel is Chinese, but she seldom eats rice at home (just personal and regional preference).</p>
		</div>
	</div>

	<div class="board_member">
		<h2>Secretary</h2>
		<h3>Ankha Stanley</h3>
		<h4>Computer Science | Class of 2016</h4>
	</div>
</div>