<div class="board_format">
	<h1>WiCS Board Members:</h1>

	<a href="https://www.flickr.com/photos/119456227@N03/15579902698" title="WiCS Board by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7496/15579902698_6cc95dfc87.jpg" width="500" height="333" alt="WiCS Board"></a>

	<h2>Program Manager</h2>
	<h4>Sally Kong</h4>

	<h2>Internal Relations Manager:</h2>
	<h4>Jessica Ramos</h4>

	<h2>External Relations Manager:</h2>
	<h4>Sierra Yit</h4>

	<h2>Web Masters:</h2>
	<h4>Karen Her</h4>
	<h4>Kelly Tan</h4>

	<h2>Treasurer:</h2>
	<h4>Rachel Han</h4>

	<h2>Secretary:</h2>
	<h4>Ankha Stanley</h4>
</div>