<h1>WiCS Board Members:</h1>

<h2>Program Manager</h2>
<h4>Sally Kong</h4>

<h2>Internal Relations Co-Managers:</h2>
<h4>Jessica Ramos</h4>
<h4>Grace Huang</h4>

<h2>External Relations Co-Managers:</h2>
<h4>Sierra Yit</h4>
<h4>Karinna Loo</h4>

<h2>Web Masters:</h2>
<h4>Kelly Tan</h4>
<h4>Karen Her</h4>

<h2>Treasurer:</h2>
<h4>Rachel Han</h4>

<h2>Secretary:</h2>
<h4>Ankha Stanley</h4>