<div class="freshmen_format">
	<h3>Greetings from the</h3>
	<h2>Women in Computer Science<br>Residential Program!</h2>

	<br>

	<img src="https://scontent-lga.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/541804_10151844816957086_381043625_n.jpg?oh=080af30b42eeecbbd50c8f1fd5c8851f&oe=5571C7E9" width="90%">

	<div class="freshmen_text">
		<p>The WiCS residential program is a great way to find a supportive community for studying, going on cool trips, and hanging out together. In the past, we’ve had field-trips to Google and NextFab Studio, various tech workshops such as Data Visualization, and App Development, dinners around Philadelphia with some of the most popular computer science professors at Penn, a computer science bootcamp for high school girls around Philly, and social events like ice skating and baking.</p>
		<p>We'd love for you to join our community and make our family bigger!  Information about how to apply for our residential program can be found <a href="http://www.collegehouses.upenn.edu/life/programs/Women%20in%20Computer%20Science">here</a>.</p>
	</div>

	<br>

	<h3>Here are a few things our members<br>have said about our program:</h3>

	<div class="freshmen_quote">
		<p>"This is more than just another academic program. We spend a lot of time hanging out together, and the upperclassmen really help advise us. It’s like a second family."<h4>- Rachel Han C'18</h4></p>
	</div>
</div>