<div class="welcome_format">
	<h3>Welcome to University of Pennsylvania's</h3>
	<h2>Women in Computer Science Residential Program!</h2>

	<br>
	
	<img src="https://farm8.staticflickr.com/7496/15579902698_6cc95dfc87.jpg" width="500" height="333" alt="WiCS Board">

	<div class="welcome_text">
		<p>The WiCS residential program is a program dedicated to promoting a supportive learning community for women interested in computer science. We are located in the Kings Court English College House at the University of Pennsylvania. The WiCS residential program hosts many workshops, field trips, outreach programs, dinner discussions, and socials. Learn more about us from our past events! If you want to reach us to learn more about the program, contact us <a href="mailto:kongsally94@gmail.com">here</a>. More information about applying for WiCS can be found <a href="https://cms-prod.business-services.upenn.edu/residential-services/residential-programs.html">here</a>.</p>

		<p>WICS Residential program is funded in part by the Trustees Council of Penn Women (TCPW).</p>
	</div>

	<br>

	<h3>Calendar of Events</h3>

	<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=1ao7els32rp5j0uj1096p9273s%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FNew_York" style=" border-width:0 " width="90%" height="400" frameborder="0" scrolling="no"></iframe>
</div>