<div class="event_format">
	
	<h1>Camp W.i(CS);</h1>
	<h4>April 21, 2014</h4>

	<h3>by Sally Kong</h3>

	<div class="event_text">
		<p></p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/" title="DSC05651 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3730/13369992544_c79a0edb21_c.jpg" width="800" height="176" alt="DSC05651"></a>

	<div class="event_text">
		<p>Camp W.i(CS); is a new initiative that my residential program, WiCS, started this year to encourage high school girls from neighboring schools to pursue Computer Science.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/" title="DSC05629 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3735/13370079984_9322d6d232_n.jpg" width="320" height="240" alt="DSC05629"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/" title="DSC05669 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7297/13370033194_b50ed4eccd_n.jpg" width="320" height="240" alt="DSC05669"></a>

	<div class="event_text">
		<p>We started the camp with two hands-on workshops on Artificial Intelligence and Interactive Art which were led by me and Trisha. The Artificial Intelligence workshop introduced the girls to how the computer can be made intelligent. Here, we talked about the algorithm in winning Tic Tac Toe then finally wrote code in Python to make the computer play Tic-Tac-Toe intelligently. For the Interactive Media workshop, we used Processing to create an interactive music player that changes its graphics and play speed  depending on the user's mouse movements. I was happy to see how the girls were picking up the concepts fast and be able to create their own graphic renderings from this app.</p>

		<p>After which we had a Student Showcase where the WiCS girls showed some off the projects that they have worked on in their classes and beyond. Some of these projects include:  a key-frame animation generator, an Instagram like image filter app,  a music system that changes volume based on the user's location, and an app that detects hand gestures to generate random number trivia.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/" title="DSC05675 by Sally Kong, on Flickr"><img src="https://farm3.staticflickr.com/2879/13369793103_3ac5212f43_n.jpg" width="320" height="240" alt="DSC05675"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/" title="DSC05676 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7431/13369647055_88761984fe_n.jpg" width="320" height="240" alt="DSC05676"></a>

	<div class="event_text">
		<p>We ended the camp with an inspiring talk by Professor Nadia Heninger whose work focuses in cryptography and network security. She talked about how security is an important asset for everyone, and how she was driven to understand it in a technical level in order to protect herself. Then she discussed about relevant news such as Snowden's revelations and also talked about her research which involves chilling memory chips using compressed air cans or liquid nitrogen, and retrieving data from it even after the computer was turned off. So cool.</p>

		<p>The camp was not only a great way to learn about Computer Science and the projects CS students are involved in, but also a very meaningful way of giving back to the community and encouraging greater interest in Computer Science.  We definitely hope to make this a recurring annual event.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/" title="DSC05690 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3672/13369756663_a5ff4bd31d.jpg" width="500" height="375" alt="DSC05690"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/">
		<h3>More photos can be viewed here</h3>
	</a>

</div>