<div class="event_format">
	
	<h1>Camp W.i(CS)!</h1>
	<h4>April 21, 2014</h4>

	<h3>by Trisha</h3>

	<div class="event_text">
		<p></p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/13369992544" title="DSC05651 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3730/13369992544_c79a0edb21_c.jpg" width="800" height="176" alt="DSC05651"></a>

	<div class="event_text">
		<p>Camp WiCS is a new initiative that we started this year to encourage high school girls to pursue Computer Science. We had a large group of students from the nearby Philadelphia schools participate, and everyone really got to take a lot from it!</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/13370079984" title="DSC05629 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3735/13370079984_9322d6d232_n.jpg" width="320" height="240" alt="DSC05629"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/13370033194" title="DSC05669 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7297/13370033194_b50ed4eccd_n.jpg" width="320" height="240" alt="DSC05669"></a>

	<div class="event_text">
		<p>One of the key components of the camp were the exciting workshops! We had 2 workshops, presented by current members of the Board: Artificial Intelligence, and Digital Art. The Artificial Intelligence workshop introduced the girls to how the computer can be made intelligent. We finally wrote code in Python to make the computer play Tic-Tac-Toe intelligently! The Digital Art workshop used a Java-based library called Processing to produce cool graphics that change on the basis of your mouse hovers!</p>

		<p>We also had a Student Showcase where students in the program showed some ofthe projects that they have worked on in their classes and beyond. Some of the coolest projects include: A random fun fact generator, a home-made Instagram filter, a music system that changes volume automatically, and a program that automatically produces 3-D models!</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/13369793103" title="DSC05675 by Sally Kong, on Flickr"><img src="https://farm3.staticflickr.com/2879/13369793103_3ac5212f43_n.jpg" width="320" height="240" alt="DSC05675"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/13369647055" title="DSC05676 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7431/13369647055_88761984fe_n.jpg" width="320" height="240" alt="DSC05676"></a>

	<div class="event_text">
		<p>One of the most fun parts of this workshop was the Professor Talk, by Professor Nadia Heninger, a Penn professor in the Computer Science department who specializes in security. She talked and educated everyone about a lot of cool stuff – from Snowden’s revelations to how to use Liquid Nitrogen to retrieve passwords.</p>

		<p>The camp was not only a great way to learn about Computer Science and the projects your classmates are involved in, but also a very meaningful way of giving back to the community and encouraging greater interest in Computer Science! We definitely hope to make this a recurring annual event.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/13369756663" title="DSC05690 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3672/13369756663_a5ff4bd31d.jpg" width="500" height="375" alt="DSC05690"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642824085873/">
		<h3>More photos can be viewed here</h3>
	</a>

</div>