<div class="event_format">

	<h2>WiCS Dinner Discussion Series</h2>

	<h1>Dr. Aaron Roth</h1>
	<h4>March 26, 2015</h4>

	<h3>by Kelly Tan</h3>

	<br>
	
	<img src="https://farm9.staticflickr.com/8710/16400832384_fc27a48b97_o.jpg" width="500" alt="558456_10100419070675802_1205329118_n (1)">

	<div class="event_text">
		<p>On March 26, 2015, WiCS had the pleasure of welcoming Dr. Aaron Roth to a dinner discussion to talk about his educational experiences and learn about his research in differential privacy and algorithmic game theory.  </p>
	</div>

	<img src="https://farm9.staticflickr.com/8698/17021581272_3fe87269de_o.jpg" width="500" alt="11077285_1607714529444525_1054949410_n">

</div>