<div class="event_format">

	<h2>WiCS Dinner Discussion Series</h2>
	
	<h1>Dr. Benedict Brown</h1>

	<h3>by Jessica Ramos</h3>

	<br>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642316568264/" title="DSC05434 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3039/13027526854_c5eeb8390d_z.jpg" width="90%" alt="DSC05434"></a>

	<div class="event_text">
		<p>Nothing could be better than brownies and a talk with an awesome professor. Dr. Benedict Brown is a professor in computer science at the University of Pennsylvania who absolutely loves what he does. Members of King’s Court English College House enjoyed freshly made brownies while Dr. Benedict Brown discussed his research in using computer programming to match old fresco fragments. The night before the event, WiCS members spent an enjoyable time baking brownies and making a chocolaty mess.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642316568264/" title="DSC05428 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3544/13027513674_bdd1597782_n.jpg" width="320" height="240" alt="DSC05428"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642316568264/" title="DSC05429 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7394/13027509694_3b8cdb93a4_n.jpg" width="320" height="240" alt="DSC05429"></a>

	<div class="event_text">
		<p>The discussion went amazingly well, attracting all sorts of curious minds and sugar deprived students including myself. I thought the application for which he was using computer science was highly intriguing. It was a way of applying computer science that I had never thought about. I really liked hearing about how technology can assist us with almost any situation. Matching fresco fragments is extremely difficult and time consuming without any type of computer programming because then it has to be done by eye, which can also be less accurate. The methods used to match these pieces were extremely impressive and the brownies were delicious!</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642316568264/" title="DSC05439 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7393/13027274003_cb26812191.jpg" width="500" height="375" alt="DSC05439"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642316568264/">
		<h3>More photos can be viewed here</h3>
	</a>

</div>