<div class="event_format">

	<h1>Dinner Discussion with Dr. Danielle Bassett</h1>
	<h4>October 7, 2014</h4>

	<h3>by Jessica Ramos</h3>

	<div class="event_text">
		<p></p>
	</div>

	<img src="https://farm6.staticflickr.com/5616/15627929897_bc57bd3488.jpg" width="500" height="334" alt="Bassett-D-_051">

	<div class="event_text">
		<p>The phenomena of how our brains work is an exciting topic only made more exciting by Dr. Danielle Bassett! On October 7, 2014 Danielle Bassett came to Kings Court English College House to discuss systems engineering and her research on how people learn. She discussed her exploration of the human brain’s ability to memorize muscle movements. This study of motion memory exposes us to more definite knowledge of which parts of the brain react during the learning process. There are many places that her research can go. With more funding, she insists it would be a really fun idea to see how different science professors learn with respect to one another. I think it’d be neat to see how all professors of different fields learn!  She also discussed her involvement in the Penn visualization Program which tries to visually represent science in a way which people can better understand. She vividly highlighted the important connections between art and science. Her excitement about her field of study was refreshing and she kept the discussion very casual and down to earth. She hopes to further her study to analyze which parts of the brain trigger what motor responses in order to apply this as a more definite method of treating conditions such as Parkinson’s disease. I wish her the best of luck and am glad I had the chance to talk with her.</p>
	</div>

</div>