<div class="event_format">

	<h2>WiCS Dinner Discussion Series</h2>

	<h1>Dr. Rajiv Gandhi</h1>
	<h4>November 14, 2014</h4>

	<h3>by Karen Her</h3>

	<br>
	
	<img src="https://farm9.staticflickr.com/8565/15453017943_3f65163d13_o.jpg" width="500" alt="cs-summer-school-01">

	<div class="event_text">
		<p>On November 14, 2014, we were fortunate to have Dr. Rajiv Gandhi come to Kings Court English College House to talk about his field of study and his experience working with students. After a discussion about his research in the design and analysis of algorithms, networks, and graph theory, Dr. Gandhi began to talk about his work with high school students. He even described his own experience and difficulties looking for an opportunity after college and in doing research. It was easy to see that he is passionate about learning and working with students. In telling about his struggles, he talked about how with the pressure to get good grades in school, students often lose their love of learning. He gave a piece of advice to the students, the majority of which were in his CIS 160 course, reminding us that with all these valuable resources here at Penn, we should take advantage of it by listening to lectures and attending classes that we’re interested in. To remove the stress revolved around getting good grades, we can attend classes without enrolling in them, and we can look for research opportunities to discover our true interests. After listening to this talk, I think not only I but other students as well now feel compelled to be more proactive with our education and find our own passions.</p>
	</div>

</div>