<div class="event_format">
	
	<h1>FemmeHacks 2015</h1>

	<h3>by Rachel Han</h3>

	<div class="event_text">
		<p>FemmeHacks is an annual all-female hackathon organized by Drexel University. Me, Sally Kong and Isabel Ren made a web app AnOwlysis that won the first place in FemmeHacks 2015.</p>
		<p>FemmeHacks are mostly constituted of three parts: the pre-hackathon brainstorm with featured females in computer science, main hacking hours and the final demo and award giving ceremony.</p>
	</div>

	<img src="http://static1.squarespace.com/static/53cc373fe4b0403590786105/t/54ff88d7e4b007be887b8863/1426032856676/?format=1000w" width="500">

	<div class="event_text">
		<p>Because it was a all-female hackathon, we had four female panelists talking about women in computer science, challenges and opportunities that they had during their studies and careers. They told us to speak out for our needs when necessary and focus more on the transferrable skills and the learning process from a higher perspective. Seeing successful women holding technical positions and hearing their advice and sharing our stories with each other during the talk felt great. It was when I realize how a women community, an all-female environment can provide a sense of security and confidence in ourselves.</p>
		<p>The second day, me, Sally and Isabel formed a team. After brainstorming all the ideas last night, we decided to work with IBM’s Watson behavioral model and make an app featuring natural language processing. The goal changed a lot throughout the day due to different difficulties that we encountered. However, we are always able to change right away and make the best use of the limited time during the hackathon. Because the hackathon was kind of small in scale and it was an all-female hackathon, the hacking experience was very different and more relaxing than usual.</p>
	</div>

	<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t35.0-12/11025539_10153187685350827_1127103459_o.jpg?oh=fb6449740b338ef28284deb73288c001&oe=55200E76&__gda__=1428156583_f06362bf6d9ab3b74b1bf081aa35102b" width="500">

	<div class="event_text">
		<p>Hacking for me is not only a great opportunity to learn new languages and learn how to integrate everything together to make a product, but also a great opportunity to learn how to manage time properly, to focus under the stress of limited time. You have to brainstorm, assign work to each member, collaborate efficiently during the process and wrap up in time and present your idea and product at the end. Winning the first place was a little bit unexpected but awesome. It was a great reward and incentive for me to participate in more hackathons like this. I had a great time at FemmeHacks!</p>
	</div>
</div>
