<div class="event_format">
	
	<h1>Google Trip</h1>

	<div class="event_text">
		<p></p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157641938010023/" title="GroupPic! by Sally Kong, on Flickr"><img src="https://farm3.staticflickr.com/2169/12963354933_cbec64f347_b.jpg" width="720" height="537" alt="GroupPic!"></a>

	<div class="event_text">
		<p>The Google trip was absolutely amazing! We got to meet many women in the industry and about the various jobs available not only at the company, but in Computer Science in general. We were first given a tour of the New York headquarters building. As we saw the facilities our guide explained the numerous themed food areas. I found it funny how in order to keep the employees from gaining too much weight at work, the junk food is hidden from view and all of the healthy food is on display in order to encourage employees to make healthy snack choices. This led into a talk about how Google constantly gathers and processes data, whether from the Internet or among its own workers, and uses it to better their company in a variety of ways. At lunch we were able to sit and eat with some employees that had come to talk to us. Many of them had had a summer internship with Google in either their sophomore or junior year of college before they went to work for them. Everyone obviously had good things to say about working for the company, but they also seemed genuinely pleased with the facilities and flexibility of their work schedules. There is no dress code so everyone can where whatever they’re comfortable in, the dining areas serve breakfast, lunch, and dinner so people can eat whether they come in early or stay late, and there are even bedrooms in case employees end up working late and want to spend the night. The day ended with a panel of female employees who talked about how they got started with computing, what they did to get where they currently were, and what difficulties they had faced. One employee presented a project that she was working on that is to develop a software to help locate immigrant workers that are sold into slavery. Another presenter talked about how she gives talks about sexism in the workplace and how to combat it. The whole experience was very enlightening experience and I can’t wait to do it again!</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157641938010023/" title="GoogleTrip!!! by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7420/12963355123_b40025d0c8_m.jpg" width="178" height="240" alt="GoogleTrip!!!"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157641938010023/" title="GoogleTrip!! by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7296/12963210345_76dcaf6110_n.jpg" width="320" height="240" alt="GoogleTrip!!"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157641938010023/">
		<h3>More photos can be viewed here</h3>
	</a>

</div>