<div class="event_format">
	
	<h1>LadyHacks 2014</h1>

	<h3>by Sally Kong</h3>

	<br>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642081741195/" title="1902071_591815990905806_294806899_n by Sally Kong, on Flickr"><img src="https://farm3.staticflickr.com/2790/13202837335_89f3a312b3_z.jpg" width="550" alt="1902071_591815990905806_294806899_n"></a>

	<div class="event_text">
		<p>First weekend of Spring Break, March 7-8, 2014, Jessica, Ankha and I  joined the all women Philly hackathon, LadyHacks2014. This was a new experience because it wasn’t a student hackathon, and although 60% of the participants were students, we were also in teams with working women. My team composed of Angie who is a realtor, Stacey who is a data scientist, and Amber who is another student from Drexel. We worked on Angie’s idea and created RentSafe, a web app that would help people find safer rentals around Philly. We pulled the recent crime data in the past 30 days around Philly from OpenDataPhilly with which we made a heat map, and also the available rentals from 3taps so that when people click the geotags, they can see a short description of the rental, the price, and the url to it. Since it was a civic hackathon, we weren’t staying up all night to work on it, but we were able to finish our first working prototype in less than 10 hours. This was my first time to work with leaflet’s map API and jQuery, but I definitely learned a lot from finishing the app using those libraries. Really glad to be part of a greater hacker community in Philly and I’m looking forward to join more events with them.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642081741195/" title="10007510_590800931007312_1176106197_n by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3689/13202979323_eba213f99f_n.jpg" width="320" height="213" alt="10007510_590800931007312_1176106197_n"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642081741195/" title="1920562_591813634239375_1863967658_n by Sally Kong, on Flickr"><img src="https://farm3.staticflickr.com/2868/13203155284_14521a52f2_n.jpg" width="320" height="213" alt="1920562_591813634239375_1863967658_n"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157642081741195/">
		<h3>More photos can be viewed here</h3>
	</a>

</div>