<div class="event_format">
	
	<h1>Maker Faire</h1>
	<h4>November 21, 2014</h4>

	<div class="event_text">
		<p>On Saturday Nov.21st, some students in Women in Computer Science Residential Program and the faculty member in the residential house went to New York for the wonderful annual Maker Faire.</p>

		<p>New York Maker Faire 2014 had 7 different topics and interactive regions: the main auditorium, the maker live stage, the maker DIY stage, the maker electronic stage, the maker shed stage, education stage and the rocket stage. Besides these interesting themed regions, makers are everywhere exhibiting and demonstrating their projects to whomever is interested.</p>

		<p>We initially planned to have one person in charge of the activities going on in one area and exchange information afterward. But because the place was mixed with all kinds of makers and maker products, we ended up walking around. However, even we stayed at the event from 9 am to 6 pm, there are still some exciting projects that we did not have time to see.</p>

	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15580513420" title="1908096_10152693223382086_650219895359293949_n by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7545/15580513420_4c1474883d_o.jpg" width="320" height="200" alt="1908096_10152693223382086_650219895359293949_n"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/15763446301" title="10334390_10152686989847086_296855156700948483_n by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3953/15763446301_d737ee1e10_o.jpg" height="200" alt="10334390_10152686989847086_296855156700948483_n"></a>

	<div class="event_text">
		<p>The following are some of the interesting projects that I found at the Faire.</p>

		<p>Human interaction Super Mario, step on the colorful buttons to control the character. It is really hard to do a good job first time just using your feet ;)</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15579473269" title="IMG_8113 by Sally Kong, on Flickr"><img src="https://farm6.staticflickr.com/5605/15579473269_c048e55ce2_o.jpg" width="240" height="320" alt="IMG_8113"></a>

	<div class="event_text">
		<p>There were two things that were ubiquitous at the NY Maker Faire. One is Arduino micro controller, the other is 3D printer. The following is a chocolate 3D printer printing a cup-shaped chocolate.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15741609166" title="IMG_8116 by Sally Kong, on Flickr"><img src="https://farm6.staticflickr.com/5605/15741609166_b0cd21c264_o.jpg" width="240" height="240" alt="IMG_8116"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/15579473259" title="IMG_8119 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3953/15579473259_4c36346e81_o.jpg" width="240" height="240" alt="IMG_8119"></a>

	<p></p>

	<a href="https://www.flickr.com/photos/119456227@N03/15579473229" title="IMG_8120 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3941/15579473229_a940e467d5_o.jpg" width="240" height="240" alt="IMG_8120"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/15580513320" title="IMG_8121 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3954/15580513320_7e63abc64b_o.jpg" width="240" height="240" alt="IMG_8121"></a>

	<div class="event_text">
		<p>The following are some of the projects done by 3D printing pen. Although a novel idea and product, the mechanism behind this product is actually pretty simple and similar to that of the 3D printers. Most desktop 3D printers use the technique called FDM-fused deposition modeling, which is basically print the cross section of a 3D model one slice at a time. The printers and the printing pens normally takes in plastics such as ABS or PLA, heat up the material inside the extruder and then have lines of material going out of the extruder and cool down instantaneously.</p>

		<p>The only difference is that, instead of making a 3D model on a computer before actually creating something, we can just use imagination to make something with the 3D printing pen. Besides, because 3D printing pens are easy to use, they are popular in kids technology workshops. I personally teacher one of these workshops the past summer at Beijing MakerSpace. The kids all made their own 3D printed glasses in the workshop in two hours and played around with the pen while learning the basic idea of 3D printing.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15579473179" title="IMG_8126 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3947/15579473179_da62048ef5_o.jpg" width="240" height="320" alt="IMG_8126"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/15579893878" title="IMG_8128 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7470/15579893878_8a09cb4df1_o.jpg" width="240" height="320" alt="IMG_8128"></a>

	<div class="event_text">
		<p>The following is interesting. Unlike a normal 3D printer at first sight, this printer can print circuits on a paper! This “3D printer” consists of two parts, one part printing the conducive ink onto the paper and another part putting the correct electric components in the right place. The second part is not absolutely autonomous right now and there is still some space for improvement. Hopefully we can all have one of these machines some day so that the makers and engineers can print their circuits right away and experiment with the circuits with relatively cheap cost.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15579473149" title="IMG_8130 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7565/15579473149_c3ac437da0_o.jpg" width="240" height="320" alt="IMG_8130"></a>

	<div class="event_text">
		<p>To be honest, this somewhat stupid but simple functioning toy is one of my favorite projects in the whole Maker Faire. The idea is really simple: most objects are conductive with some degree of resistance. What can we do about this? Well, we can just “power them up”, and use their different resistance to play different tunes of music! Yeah, that’s what these people are doing! On the picture bellow, we just have two bows of water, and by simply plugging wires into the bowl, and by then using something conductive like your finger to touch the water, you can create music, or at least, in this case, really really awesome beats.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15741609006" title="IMG_8137 by Sally Kong, on Flickr"><img src="https://farm6.staticflickr.com/5616/15741609006_99fcdd192b_o.jpg" width="240" height="320" alt="IMG_8137"></a>

	<div class="event_text">
		<p>This machine cuts a contour by layers.</p>
	</div>

	<a href="https://www.flickr.com/photos/119456227@N03/15741608956" title="IMG_8139 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3953/15741608956_134b842d6d_o.jpg" width="240" height="320" alt="IMG_8139"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/15763446041" title="IMG_8143 by Sally Kong, on Flickr"><img src="https://farm8.staticflickr.com/7470/15763446041_1de58feb23_o.jpg" width="240" height="320" alt="IMG_8143"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/15766869112" title="IMG_8144 by Sally Kong, on Flickr"><img src="https://farm4.staticflickr.com/3944/15766869112_c53222f3d3_o.jpg" width="240" height="320" alt="IMG_8144"></a>

	<a href="https://www.flickr.com/photos/119456227@N03/sets/72157648835233898/">
		<h3>More photos can be viewed here</h3>
	</a>

</div>