<div class="event_format">
	
	<h1>WiCS TechBrunch 1.0</h1>

	<h3>by Sally Kong</h3>

	<div class="event_text">
		<p>Imagine an element that follows two simple rules.</p>

		<ol>
		<li>It moves in a straight line</li>
		<li>When it touches another element, it draws a line that connects their centers</li>
		</ol>

		<p>Now, see what happens when you have hundreds of these in a closed space.</p>
	</div>

	<img src="https://farm9.staticflickr.com/8621/15911683502_0cfc2a93be_n.jpg" width="247" height="320" alt="Screen Shot 2014-11-28 at 4.54.55 PM">

	<img src="https://farm9.staticflickr.com/8652/15886533436_447725598b_n.jpg" width="247" height="320" alt="Screen Shot 2014-11-28 at 4.54.37 PM">

	<div class="event_text">
		<p>What emerges is quite unexpected and even mindblowingly beautiful.</p>

		<p>Casey Reas defined this procedure of creating a system of elements and seeing what emerges as a Process in a conference at The Center for Design and Geopolitics. After wathcing a video of that talk, I was inspired to try it myself and share it with the WiCS girls too. I really liked how this program was very visual so I thought this would be a good introduction to programming and object oriented design too.</p>

		<p>We got some squagels and salad from Cosi and I led a workshop on Processing to some WiCS girls and other residents in Kings Court English House. Some of them didn't have any prior programming background but they seemed to enjoy the workshop especially since little mistakes led to other beautiful graphics and an inspiration:</p>
	</div>

	<img src="https://farm8.staticflickr.com/7536/15726576457_17d327f641_n.jpg" width="208" height="320" alt="Screenshot 2014-11-16 09.47">

	<img src="https://farm8.staticflickr.com/7489/15724858458_1b00fc1c3c_n.jpg" width="208" height="320" alt="Screenshot 2014-11-17 15.45">

	<img src="https://farm8.staticflickr.com/7510/15912342265_0f8730c8af_n.jpg" width="208" height="320" alt="Screenshot 2014-11-17 16.00">
	
</div>