<div class="project_format">
	
	<h1>David Rittenhouse 1771 Orrery Virtual Reconstruction Project</h1>

	<br>
	
	<a href="https://davidrittenhouseorrery.wordpress.com/"><img src="http://static1.squarespace.com/static/53cc373fe4b0403590786105/t/54abfb37e4b010b9ae3c86bd/1420557116269/" width="90%"></a>

	<div class="project_text">
		<p>David Rittenhouse’s 1771 orrery is a physical model of the solar system and is known for its sophisticated mechanical design at its time. To demonstrate its functionality freely without the possibility of damaging this antique, we plan to design and develop a virtual reconstruction of the Rittenhouse Orrery. While other virtual orreries are models of the planets in the solar system, the goal for our virtual orrery is to represent the mechanics of actual orrery gears and its demonstration of the planet alignment in solar systems.</p>
	</div>

	<a href="https://davidrittenhouseorrery.wordpress.com/">
		<h3>More information can be found here!</h3>
	</a>

</div>