// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board_format {
	text-align: center;
	margin: 1em;
	padding: 1em;

	.board_member {
		padding: 1em 0 0 7%;
		text-align: left;

		.board_picture {
			padding: 15px 0 0 0;
		    border-radius: 50%;
		    display: inline-block;
		}
		.board_picture img {
		    border-radius: 50%;
		    display: block;
		}

		.board_text {
			text-align: left;
			width: 92%;
			margin: 5% 0% 5% 0;
		}
	}
}