// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_format {
	text-align: center;
	margin: 1em;
	padding: 1em;

	.project_text {
		text-align: left;
		width: 90%;
		margin: 5% 0% 5% 5%;
	}
}