<!DOCTYPE html>
<html>
<head>
  <title>WiCS Residential Program</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
  <div class="container">
      
      <!-- sidebar -->
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" data-spy="affix">
          <ul class="nav">
            <li class="active">
              <a href="../home">
                <img alt="Brand" src="https://farm8.staticflickr.com/7497/15620952597_497b73d799_o.png" width="130">
                <p></p>
                WiCS Residential
              </a>
            </li>
            <li><a href="../board">Board</a></li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Dinner Discussions</a>
                  <ul class="dropdown-menu">
                    <li><a href="../events/dd_danielle_bassett">Danielle Bassett</a></li>
                    <li><a href="../events/dd_benedict_brown-ies">Benedict Brown-ies</a></li>
                  </ul>
                </li>
                <li><a href="../events/techbrunch_1.0">WiCS TechBrunch 1.0</a></li>
                <li><a href="../events/maker_faire">Maker Faire 2014</a></li>
                <li><a href="../events/camp_wics">Camp W.i(CS);</a></li>
                <li><a href="../events/google_trip">Google Trip</a></li>
                <li><a href="../events/ladyhacks">LadyHacks 2014</a></li>
              </ul>
            </li>            
          </ul>
      </div>
  
    <div class="content">
      <%= yield %>
    </div>
      
  </div><!--/.container-->

</body>
</html>